<h1><%= @league.name %></h1>
<p><%= link_to 'Available Players', league_players_path(@league) %></p>
<p><%= link_to 'Start draft', "#" %>  </p>

<h3>Teams</h3>
<ul>
  <li>Your team: <%= @team.name %></li>
  <% @league.teams.includes(:owner).select {|t| t.id != @team.id }.each do |team| %>
    <li><%= team.owner.name %>'s team: <%= team.name %></li>
  <% end %>
</ul>
