<h1><%= @league.name %></h1>
<p><%= link_to 'Available Players', league_players_path(@league) %></p>

<div>
  <% if draft = @league.league_draft %>
    <h5>Draft sync in progress</h5>
    <p>Last ran: <%= draft.updated_at %></p>
    <p>Times ran: <%= draft.runs %></p>
    <%= link_to 'End draft', league_draft_path(@league, @league.league_draft), method: :delete, class: 'btn btn-danger' %>
  <% else %>
    <%= link_to 'Start draft', league_drafts_path(@league), method: :post, class: 'btn btn-primary' %>
  <% end %>
</div>

<h3>Teams</h3>
<ul>
  <li>Your team: <%= link_to @team.name, league_team_path(@team) %></li>
  <% @league.teams.includes(:owner).select {|t| t.id != @team.id }.each do |team| %>
    <li><%= team.owner.name %>'s team: <%= team.name %></li>
  <% end %>
</ul>
