<div class='footer text-center'>
  <% if current_user %>
    <p>Hello <%= current_user.name %></p>
    <%= link_to "Log out?", yahoo_logout_path %>
    <%= link_to ' | Duplicates', duplicates_path if current_user.uid == "CNDVQ2VAAGDYKUPLCVHF65KVOI"%>
    <%= link_to ' | Jobs dashboard', delayed_web_path if current_user.uid == "CNDVQ2VAAGDYKUPLCVHF65KVOI" %>
  <% else %>
    <%= link_to 'Localhost sign in', dev_sign_in_path if Rails.env.development? %>
    <%= link_to 'Sign in with yahoo', '/auth/yahoo' %>
  <% end %>
</div>
