<!DOCTYPE html>
<html>
  <head>
    <title>Fantasyfootballdata</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

  <body>
    <%= render 'layouts/messages' %>
    <%= yield %>
    <br />
    <% if current_user %>
      <p>Hello <%= current_user.name %></p>
      <p><%= link_to "Log out?", yahoo_logout_path %></p>
      <p><%= link_to 'Duplicates', duplicates_path if current_user.uid == "CNDVQ2VAAGDYKUPLCVHF65KVOI"%></p>
      <p><%= link_to 'Jobs dashboard', '/jobs' if current_user.uid == "CNDVQ2VAAGDYKUPLCVHF65KVOI" %></p>
    <% else %>
      <%= link_to 'Localhost sign in', dev_sign_in_path if Rails.env.development? %>
      <%= link_to 'Sign in with yahoo', '/auth/yahoo' %>
    <% end %>
  </body>
</html>
